
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Help page</h1>
    </div>
    </div>
  </section>
      


    <section class="py-5 text">
    <div class="row py-lg">
      <div class="col-lg-11 col-md-11 mx-auto">
        <p class="lead text-muted">1.If you wanna search needed car please click on "Search"</p>
        <p class="lead text-muted">2.If you wanna see all cars please click on "Cars_list"</p>
        <p class="lead text-muted">3.If you wanna see Home page  please click on "Home"</p>
        <p class="lead text-muted">4. Also, you can sign in or sigh up just click on buttons upper, right side - "Login" or "Sign-up"</p>
            </div>
    </div>
  </section>
</main>